network-security.data
auto-save-list/
transient
.DS_Store
bookmarks
elpa/
transient/
projects
projectile-bookmarks.eld
.edbi-ds-history
recentf
custom.el
.python-environments
ac-comphist.dat
*~
/places
/server
/tramp
/eshell
/irony
/projectile.cache
/url
\#recentf\#
/eln-cache/
/session.*
/.cache
